{% load customtagecourt %}

<select name="item" class="form-control">
	<option value="">- - select item - -</option>
{% for item in itemsfree %}
	<option value="{{ item.pk }}">{{ item.description|truncatechars:30 }} || sl no: {{ item.sl_no }}</option>
{% endfor %}
</select>
<br>
{% if itemstaken|length > 0 %}
<table class="table table-bordered table-sm">
	<thead class="thead-dark">
	<tr>
		<th colspan="4" style="color: black;">Items that have been issued </th>
	</tr>
	<tr>
		<th></th>
		<th>Description</th>
		<th>Sl no.</th>
		<th>Issued to.</th>
	</tr>
	</thead>
	{% for item in itemstaken %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ item.description }}</td>
		<td>{{ item.sl_no }}</td>
		<td>{{ item.pk|getissuedtoperson }}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}