{% extends 'base.html' %}
{% block title %}Stock Management System{% endblock %}
{% block content %}
{% load customtagecourt %}
<br>
<table class="table table-bordered container text-center">
	<tr>
		<td>Description</td>
		<td>{{ issued.item.description }}</td>
	</tr>
	<tr>
		<td>Item Serial no</td>
		<td>{{ issued.item.sl_no }}</td>
	</tr>
	<tr>
		<td>Issue to</td>
		<td>{{ issued.name }}</td>
	</tr>
	<tr>
		<td>Designation</td>
		<td>{{ issued.designation }}</td>
	</tr>
	<tr>
		<td>Date</td>
		<td>{{ issued.date }}</td>
	</tr>
	<tr>
		<td>remarks</td>
		<td>{{ issued.remarks }}</td>
	</tr>
	<tr>
		<td>section</td>
		<td>{{ issued.section }}</td>
	</tr>
	<tr>
		<td>issued_by</td>
		<td>{{ issued.issued_by }}</td>
	</tr>
	<tr>
		<td>requisition</td>
		<td>
			{% if issued.requisition and issued.requisition|file_exists  %}
			<a href="{{ issued.requisition.url }}">{{ issued.requisition|filename }}</a>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Currently used by</td>
		<form method="post">
			{% csrf_token %}
			<td><input type="text" value="{{ issued.current_status }}" name="current_status" class="form-control"></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" class="btn btn-outline-success btn-sm"></td>
		</form>
	</tr>

{% endblock %}