{% extends 'base.html' %}
{% block title %}Stock Management System{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
	<table class="table table-bordered container text-center">
		{% csrf_token %}
		<tr>
			<td>
				<select name="" id="bulkitem" class="form-control" onchange="getbulkitems()">
					<option value="">--select--</option>
					{% for bulk in bulks %}
					<option value="{{ bulk.pk }}">{{ bulk.received_from }} {{ bulk.received_date }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td id="insertitems" style="color: red"> select above option first</td>
		</tr>
		<tr>
			<td><input type="text" placeholder="name" name="name" maxlength="100" class="form-control" required></td>
		</tr>
		<tr>
			<td><input type="text" placeholder="designation" name="designation" maxlength="100" class="form-control" required></td>
		</tr>
		<tr>
			<td><input type="date" name="date" class="form-control" id="todaydate" required></td>
		</tr>
		<tr>
			<td><textarea name="remarks" cols="30" rows="4" placeholder="remarks" class="form-control"></textarea></td>
		</tr>
		<tr>
			<td>
				<select name="section" class="form-control" required>
					<option value="">- - select section - -</option>
					{% for section in sections %}
					<option value="{{ section.pk }}">{{ section }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td><input type="file" name="requisition" class="form-control"></td>
		</tr>
		<tr><td><input type="submit" value="submit" class="btn btn-outline-success btn-sm"></td></tr>
	</table>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	function getbulkitems(){
		var stockitem = document.getElementById('bulkitem').value
		$.ajax({
			type:'GET',
			url:'/ecourts/getstockajax/'+stockitem,
			success:function(response){
				document.getElementById('insertitems').innerHTML = response;
			}
		});
	}
	todaydate()
	function todaydate(){
		today = new Date()
		var year = today.getFullYear();
		var month = today.getMonth()+1;
		var day = today.getDate();
		var date = year;
		if (month<10) {
			date = date + '-0'+(month);
		}
		else{
			date = date + '-'+(month)
		}
		if (day<10) {
			date = date + '-0'+(day);
		}
		else{
			date = date + '-'+(day)
		}
		document.getElementById('todaydate').value = date;
	}
</script>

{% endblock %}