{% extends 'base.html' %}
{% block title %}Stock Management System{% endblock %}
{% block content %}

<br>
<table class="table table-bordered container text-center">
	<tr>
		<td>Sl. no.</td>
		<td>Description</td>
		<td>Item Serial no</td>
		<td>Issue to name</td>
		<td>Designation</td>
		<td>Date</td>
		<td></td>
	</tr>
{% for issue in issued %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ issue.item.description }}</td>
		<td>{{ issue.item.sl_no }}</td>
		<td>{{ issue.name }}</td>
		<td>{{ issue.designation }}</td>
		<td>{{ issue.date }}</td>
		<td>
			<a href="{% url 'ecourts:detailissued' issue.pk %}" class="btn btn-outline-info btn-sm">View</a>
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}