<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		table, th, td {
			border: 1px solid;
		}
		table {
			border-collapse: collapse;
			max-width: 80%;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
		}
		td{
			padding: 10px;
		}
	</style>
</head>
<body>
	{% load customtag %}
	<table>
		<tr>
			<td>Seller Name</td>
			<td>{{ stock.seller_name }}</td>
		</tr>
		<tr>
			<td>Category</td>
			<td>{{ stock.category.category_name }}</td>
		</tr>
		<tr>
			<td>Remarks</td>
			<td>{{ stock.remarks }}</td>
		</tr>
		<tr>
			<td>Date </td>
			<td>{{ stock.date_of_entry }}</td>
		</tr>
		<tr>
			<td>Entry done by</td>
			<td>{{ stock.entered_by }}</td>
		</tr>
		<tr>
			<th>Item name</th>
			<th>Quantity</th>
		</tr>
		{% for key,value in itemdetails.items %}
			<tr>
				<td>{{ key|getitemname }}</td>
				<td>{{ value }}</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>