<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		table, th, td {
			border: 1px solid;
		}
		table {
			border-collapse: collapse;
			max-width: 80%;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}
		td{
			padding: 10px;
		}
		p{
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			font-size: 1.3rem;
		}
	</style>
</head>
<body>
	<table style="">
		<tr>
			<td colspan="2"><p>There is shortage of following</p></td>
		</tr>
		<tr>
			<td>Category</td>
			<td>{{ stock.category }}</td>
		</tr>
		<tr>
			<td>Subcategory</td>
			<td>{{ stock.item_name }}</td>
		</tr>
		<tr>
			<td>Current Quantity</td>
			<td>{{ stock.item_count }}</td>
		</tr>
		
	</table>
</body>
</html>