{% extends 'base.html' %}
{% block title %} Add stock to {{ category.category_name }} {% endblock %}
{% block content %}
<br><br>
<script>number_of_subcats=1</script>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}	
	<input type="hidden" name="entered_by" value="{{ request.user.pk }}">
	<table class="table container table-bordered text-center">
		<tr>
			<td colspan="2" style="font-size: 1.5rem">Add Stock to {{ category.category_name }}</td>
			<input type="hidden" name="category" value="{{ category.pk }}">
		</tr>
		<tr>
			<td>Name of Seller</td>
			<td><input type="text" name="seller_name" class="form-control" autocomplete="off" required></td>
		</tr>
		<tr>
			<td>Ref no.</td>
			<td><input type="text" name="ref_no" class="form-control" autocomplete="off" maxlength="100" required></td>
		</tr>
		<tr>
			<td>Purchase Document</td>
			<td><input type="file" name="purchase_doc" class="form-control" required></td>
		</tr>
		<tr>
			<td>Additional Document</td>
			<td><input type="file" name="additional_doc" class="form-control"></td>
		</tr>
		<tr>
			<td>Remarks</td>
			<td><textarea name="remarks" cols="30" rows="5" class="form-control"></textarea></td>
		</tr>
	</table>
	<hr class="container">
	<table class="table container table-bordered text-center" id="item-table">
		<tr>
			<td><input type="number" name="item_quantity" class="form-control" placeholder="Quantity" required></td>
			<td>
				<select name="item" class="form-control" required>
				<option value="">--select item--</option>
				{% for item in items %}
					<option value="{{ item.pk }}">{{ item.item_name }}</option>
				{% endfor %}
				</select>
			</td>
			<td><button type="button" class="btn btn-outline-primary btn-sm" onclick="addmorefunction()">Add more</button></td>
		</tr>
	</table>
	<table class="table container table-borderless text-center">
		<tr>
			<td><input type="submit" class="btn btn-outline-success" value="Submit"></td>
		</tr>
	</table>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
	function addmorefunction(){
		number_of_subcats += 1;
		var row = '<tr id="subrow'+number_of_subcats+'"><td><input type="number" name="item_quantity" class="form-control" placeholder="Quantity" required></td><td><select name="item" class="form-control" required>				<option value="">--select item--</option>				{% for item in items %}					<option value="{{ item.pk }}">{{ item.item_name }}</option>				{% endfor %}				</select>			</td>			<td><button type="button" class="btn btn-outline-primary btn-sm" onclick="deletefield('+number_of_subcats+')">Delete</bu'
		$('#item-table').append(row);
	}

	function deletefield(x){
		var a = '#subrow'+x;
		$(a).remove();
		// number_of_subcats -= 1;
	}
</script>
{% endblock %}