<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<title>Purchase Report</title>
	<style>
		@media print {
			@page { margin: 0; }
			body { margin: 1.6cm; }
		}
		table,th,td,tr{
			border: 1px solid black;
		}
	</style>
</head>
{% load customtag %}
<body>
	<p style="font-size: 1.5rem; text-align: center;">{{ categoryname }} Purchase Report</p>
	<table class="table table-bordered text-center table-sm">
		<thead class="table-secondary">
		<tr>
			<th></th>
			<th>Seller Name</th>
			<th>Item</th>
			<th>Purchase Date</th>
		</tr>
		</thead>
	{% for entry in entrys %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ entry.seller_name }}</td>
			<td>
				<table class="table table-bordered">
					{{ entry.item|stringtosubcatconvert:"Purchased"|safe }}
				</table>
			</td>
			<td>{{ entry.date_of_entry }}</td>
		</tr>
	{% endfor %}
	</table>
</body>
</html>