{% extends 'base.html' %}
{% block content %}
<br>
{% load customtag %}
<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/category/{{ category }}">{{ category }}</a></li>
			<li class="breadcrumb-item"><a href="/view-purchased/{{ category }}"> Purchased</a></li>
			<li class="breadcrumb-item active" aria-current="page">Data</li>
		</ol>
	</nav>
<table class="table table-bordered container text-center">
	<tr>
		<td>Category</td>
		<td>{{ entry.category }}</td>
	</tr>
	<tr>
		<td>Seller Name</td>
		<td>{{ entry.seller_name }}</td>
	</tr>
	<tr>
		<td>Ref no.</td>
		<td>{{ entry.ref_no }}</td>
	</tr>
	<tr>
		<td>Remarks</td>
		<td>{{ entry.remarks }}</td>
	</tr>
	<tr>
		<td>Purchase Document</td>
		<td>{% if entry.purchase_doc and entry.purchase_doc|file_exists  %}<a href="{{ entry.purchase_doc.url }}" target="_blank">{{ entry.purchase_doc|filename }}</a>{% endif %}</td>
	</tr>
	<tr>
		<td>Additional Document</td>
		<td>{% if entry.additional_doc and entry.additional_doc|file_exists  %}<a href="{{ entry.additional_doc.url }}" target="_blank">{{ entry.additional_doc|filename }}</a>{% endif %}</td>
	</tr>
	<tr>
		<td>Date of Entry</td>
		<td>{{ entry.date_of_entry }}</td>
	</tr>
	<tr>
		<td>Data Entered by</td>
		<td>{{ entry.entered_by }}</td>
	</tr>
</table>
<hr class="container">
	<table class="table table-bordered container text-center" style="border:1px solid black">
	{{ entry.item|stringtosubcatconvert|safe }}
	</table>
{% endblock %}