{% extends 'base.html' %}
{% block title %}{{ category.category_name }} Purchased stock{% endblock %}
{% block content %}
{% load customtag %}
<br>
<table class="table container table-bordered text-center">
	<tr>
		<th colspan="8">
			<button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Search Issued</button>
			<a href="{% url 'dashboard:viewpurchased' category.category_name %}" class="btn btn-link">Reset Search</a>
		</td>
	</tr>
	<tr>
		<td colspan="7">Category : {{ category.category_name }}</td>
	</tr>
	<tr>
		<td></td>
		<td>Ref no</td>
		<td>Seller name</td>
		<td>Remarks</td>
		<td>Purchase Date</td>
		<td>Purchase Doc</td>
		<td></td>
	</tr>
{% for entry in entrys %}
<tr>
	<td>{{ forloop.counter }}</td>
	<td>{{ entry.ref_no }}</td>
	<td>{{ entry.seller_name }}</td>
	<td>{{ entry.remarks }}</td>
	<td>{{ entry.date_of_entry }}</td>
	<td>{% if entry.purchase_doc and entry.purchase_doc|file_exists  %}
		<a href="{{ entry.purchase_doc.url }}" target="_blank">{{ entry.purchase_doc|filename }}</a>
		{% endif %}
	</td>
	<td>
		<a href="{% url 'dashboard:viewdetailpurchase' entry.pk %}" class="btn btn-outline-info">View Detail</a>
	</td>
</tr>
{% endfor %}
</table>
{% include 'pagination.html' %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Search Using</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="text-center">
					<input type="text" class="form-control" name="ref_no" placeholder="Enter reference number" autocomplete="off" value="{{ request.GET.ref_no }}"><br>
					<select name="item" class="form-control mb-2">
						<option value="">-- select item --</option>
						{% for item in items %}
							<option value="{{ item.item_name|title }}" {% if item.item_name|title == request.GET.item|title %}selected{% endif %}>{{ item.item_name|title }}</option>
						{% endfor %}
					</select>
					<select name="entered_by" class="form-control mb-2">
						<option value="">-- select entered by --</option>
						{% for user in users %}
							<option value="{{ user.username }}" {% if user.username|title == request.GET.user|title %}selected{% endif %}>{{ user.username|title }}</option>
						{% endfor %}
					</select>
					<table class="table table-borderless">
						<tr>
							<td>From</td>
							<td><input type="date" class="form-control mb-2" name="start_date" value="{{ request.GET.start_date }}"></td>
						</tr>
						<tr>
							<td>To</td>
							<td><input type="date" class="form-control mb-2" name="end_date" value="{{ request.GET.end_date }}"></td>
						</tr>
					</table>
					<input type="hidden" id="showreporthidden" name="showreport">
					<input onclick="removeview()" type="submit" class="btn btn-outline-success btn-sm">
					<button onclick="addview()" class="btn btn-outline-warning btn-sm" formtarget="_blank">View Report</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	function addview(){
		$('#showreporthidden').val('true');
	}
	function removeview(){		
		$('#showreporthidden').val('');
	}
</script>
{% endblock %}