{% extends 'loginpage/baselogin.html' %}
{% block title %} change password {% endblock %}
{% block content %}
<br><br>
{% if messages %}
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }} alert-dismissible fade show container" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endif %}
<form method="post" class="container">
	{% csrf_token %}
	<input type="text" class="form-control" placeholder="username" name="username"><br>
	<input type="password" class="form-control" placeholder="password" name="password1"><br>
	<input type="password" class="form-control" placeholder="re enter password" name="password2"><br>
	<input type="submit" class="btn btn-outline-success">
</form>

{% endblock %}