{% extends 'loginpage/baselogin.html' %}
{% block title%}Login{% endblock %}
{% block content %}
{% if messages %}
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }} alert-dismissible fade show container text-center" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endif %}
<br>
<form class="container text-center" method="post">
	{% csrf_token %}
	<input type="text" name="username" class="form-control" placeholder="username">
	<br>
	<input type="password" name="password" class="form-control" placeholder="password">
	<br>
	<input type="submit" class="btn btn-outline-success btn-sm" value="submit">
	&nbsp
	<a href="{% url 'loginpage:register' %}" class="btn btn-outline-primary btn-sm">Register</a>&nbsp
	<a href="{% url 'loginpage:changepassword' %}" class="btn btn-outline-danger btn-sm">Change password</a>
</form>

{% endblock %}