{% extends 'loginpage/baselogin.html' %}
{% block title%}Register{% endblock %}
{% block content %}
<br>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-danger alert-dismissible fade show container text-center" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endif %}

<form method="post" class="container" style="margin-top: 50px;">
	<table class="table text-center table-bordered">
		{% csrf_token %}
		<tr>
			<td><input type="text" class="form-control" name="first_name" placeholder="First Name" maxlength="100" autocomplete="off" required></td>
		</tr>
		<tr>
			<td><input type="text" class="form-control" name="last_name" placeholder="Last Name" maxlength="100" autocomplete="off" required></td>
		</tr>
		<tr>
			<td><input type="text" class="form-control" name="username" placeholder="username" maxlength="100" autocomplete="off" required></td>
		</tr>
			<td><input type="password" class="form-control" name="password1" placeholder="password1" required></td>
		</tr>
		<tr>
			<td><input type="password" class="form-control" name="password2" placeholder="Re enter password" required></td>
		</tr>
		<tr>
			<td>
				<select name="section" class="form-control">
					<option value="">-- section associated --</option>
					{% for section in sections %}
					<option value="{{ section.pk }}">{{ section.section_name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<select name="location" class="form-control">
					<option value="">- - select - -</option>
					{% for l in location %}
					<option value="{{ l.pk }}">{{ l }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
		<tr><td><input type="submit" class="btn btn-outline-success" value="submit"></td></tr>
	</table>
	</form>

{% endblock %}