{% extends 'baseAccount.html' %}
{% block title %}Accounts : Edit Item{% endblock %}
{% block content %}
<br><br>
<form method="post">
	{% csrf_token %}
	<table class="table container text-center">
		<tr>
			<td>Name</td>
			<td><input type="text" name="item_name" value="{{ item.item_name }}" class="form-control" maxlength="50"></td>
		</tr>
		<tr>
			<td>Categories</td>
			<td>
				<select name="category" class="form-control">
					{% for category in categories %}
					<option value="{{ category.pk }}" {% if category == item.category %} selected {% endif %}>{{ category.category_name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" class="btn btn-outline-success"></td>
		</tr>
	</table>
</form>
{% endblock %}