<div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content text-center">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post">
					<table class="table">
						{% csrf_token %}
						<tr>
							<td><input type="text" name="name" id="id_name" class="form-control" autocomplete="off"></td>
							<input type="hidden" name="pk" id="id_pk">
						</tr>
						<tr>
							<td><input type="submit" class="btn btn-outline-success"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	function setname(pk,name,maxlength){
		$('#id_name').val(name)
		$('#id_pk').val(pk)
		$("#id_name").attr('maxlength', maxlength);
	}
</script>