{% extends 'baseAccount.html' %}
{% block title %}Accounts : Email{% endblock %}
{% block content %}
<br><br>
<form class="container text-center" method="post">
	{% csrf_token %}
	<input type="email" name="email" class="form-control" placeholder="email" autocomplete="off"><br>
	<select name="section" class="form-control">
		<option value="">-- section associated --</option>
		{% for section in sections %}
			<option value="{{ section.pk }}">{{ section.section_name }}</option>
		{% endfor %}
	</select><br>
	<input type="submit" class="btn btn-outline-success" value="submit">
</form>
<br>
<table class="table table-bordered container text-center">
	<tr>
		<td>Email</td>
		<td>Active</td>
		<td></td>
	</tr>
{% for email in emails %}
	<tr>
		<td>{{ email.email }}</td>
		<td>{% if email.active == True %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
		<td><button onclick="setname('{{email.pk}}','{{email.email }}','{{email.active}}')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
	</tr>
{% endfor %}
</table>

<div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content text-center">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post">
					<table class="table">
						{% csrf_token %}
						<tr>
							<td><input type="text" name="name" id="id_name" class="form-control" autocomplete="off" maxlength="100"></td>
						</tr>
						<tr>
							<td>
								<label for="id_active">active</label>
								<input type="checkbox" name="active" id="id_active" class=""></td>
							<input type="hidden" name="pk" id="id_pk">
						</tr>
						<tr>
							<td><input type="submit" class="btn btn-outline-success" value="submit"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	function setname(pk,name,active){
		$('#id_name').val(name)
		$('#id_pk').val(pk)
		// alert(active)
		if(active== 'True'){
			$('#id_active').prop('checked',true)
		}else{
			$('#id_active').prop('checked',false)
		}
	}
</script>
{% endblock %}