{% extends 'baseAccount.html' %}
{% block title %}Accounts : Category{% endblock %}
{% block content %}
<br><br>
<form class="container text-center" method="post">
	{% csrf_token %}
	<p style="color: red;">Category name has to be unique</p>
	<input type="text" name="category_name" class="form-control" placeholder="category name" autocomplete="off"><br>
	<select name="section" class="form-control">
		<option value="">-- section associated --</option>
		{% for section in sections %}
			<option value="{{ section.pk }}">{{ section.section_name }}</option>
		{% endfor %}
	</select><br>
	<select name="location" class="form-control">
		<option value="">- - select - -</option>
		{% for l in location %}
		<option value="{{ l.pk }}">{{ l }}</option>
		{% endfor %}
	</select><br>
	<input type="submit" class="btn btn-outline-success btn-sm" value="submit">
</form>
<br>
<table class="table table-bordered container text-center">
{% for category in categories %}
	<tr>
		<td>{{ category.category_name }}</td>
		{% if user.is_superuser %}
		<td>{{ category.section }}</td>
		<td>{{ category.location }}</td>
		{% endif %}
		<td><button onclick="setname('{{category.pk}}','{{category.category_name }}','50')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
	</tr>
{% endfor %}
</table>

{% include 'accounts/editmodal.html' %}

{% endblock %}