{% extends 'baseAccount.html' %}
{% block title %}Accounts : Item{% endblock %}
{% block content %}
<br><br>
{% for message in messages %}
	<div class="alert alert-danger alert-dismissible fade show text-center container" role="alert">
		{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
<form class="container text-center" method="post">
	<input type="hidden" name="item_count" value="0">
	{% csrf_token %}
	<p style="color: red">Sub Category Name has to be unique</p>
	<select name="category" class="form-control" required>
		<option value="">-- select category --</option>
		{% for category in categories %}
			<option value="{{ category.pk }}">{{ category.category_name }} - {{ category.location }}</option>
		{% endfor %}
	</select>
	<br>
	<input type="text" name="item_name" class="form-control" placeholder="Item name" autocomplete="off"><br>
	<input type="submit" class="btn btn-outline-success" value="submit">
</form>
<br>
<table class="table table-bordered container text-center">
{% for item in items %}
	<tr>
		<td>{{ item.item_name }}</td>
		<td><a class="btn btn-outline-primary btn-sm" href="{% url 'accounts:edititem' item.pk %}">Edit</a></td>
	</tr>
{% endfor %}
</table>

{% endblock %}