{% extends 'baseAccount.html' %}
{% block title %}Accounts : Offices{% endblock %}
{% block content %}
<br><br>
<form class="container text-center" method="post">
	{% csrf_token %}
	<p style="color: red;">Names has to be unique</p>
	<input type="text" name="location_name" class="form-control" placeholder="Location name" autocomplete="off"><br>
	<input type="submit" class="btn btn-outline-success" value="submit">
</form>
<br>
<table class="table table-bordered container text-center">
{% for location in locations %}
	<tr>
		<td>{{ location.location_name }}</td>
		<td><button onclick="setname('{{location.pk}}','{{location.location_name }}','100')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
	</tr>
{% endfor %}
</table>

{% include 'accounts/editmodal.html' %}

{% endblock %}