{% extends 'baseAccount.html' %}
{% block title %}Accounts : Section{% endblock %}
{% block content %}
<br><br>
<form class="container text-center" method="post">
	{% csrf_token %}
	<p style="color: red;">Section Name has to be unique</p>
	<input type="text" name="section_name" class="form-control" placeholder="Section name" autocomplete="off"><br>
	<input type="submit" class="btn btn-outline-success" value="submit">
</form>
<br>
<table class="table table-bordered container text-center">
{% for section in sections %}
	<tr>
		<td>{{ section.section_name }}</td>
		<td><button onclick="setname('{{section.pk}}','{{section.section_name }}','50')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Edit</button></td>
	</tr>
{% endfor %}
</table>

{% include 'accounts/editmodal.html' %}

{% endblock %}