{% extends 'base.html' %}
{% block title %} Add stock to {{ category.category_name }} {% endblock %}
{% block content %}
<br><br>
<script>number_of_subcats=1</script>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}	
	<input type="hidden" name="entered_by" value="{{ request.user.pk }}">
	<table class="table container table-bordered text-center">
		<tr>
			<td colspan="2" style="font-size: 1.5rem">Add Stock to {{ category.category_name }}</td>
		</tr>
		<tr>
			<td>Received from</td>
			<td><input type="text" name="received_from" class="form-control" autocomplete="off" required></td>
		</tr>
		<tr>
			<td>Ref no.</td>
			<td><input type="text" name="ref_no" class="form-control" autocomplete="off" required></td>
		</tr>
		<tr>
			<td>For Location</td>
			<td>
				<select name="location" class="form-control">
					<option value="">- - select - -</option>
					{% for l in location %}
					<option value="{{ l.pk }}">{{ l.location_name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Document</td>
			<td><input type="file" name="document" class="form-control" required></td>
		</tr>
		<tr>
			<td>Additional Document</td>
			<td><input type="file" name="add_document" class="form-control"></td>
		</tr>
		<tr>
			<td>Received Date</td>
			<td><input type="date" name="received_date" class="form-control" id="todaydate" required></td>
		</tr>
		<tr>
			<td>Remarks</td>
			<td><textarea name="remarks" cols="30" rows="5" class="form-control" required></textarea></td>
		</tr>
	</table>
	<hr class="container">
	<table class="table container table-bordered text-center" id="item-table">
		<tr>
			<td>
				<input type="text" name="description" class="form-control" placeholder="description" maxlength="500" required>
			</td>
			<td>
				<input type="text" name="sl_no" class="form-control" placeholder="Serial Number" maxlength="100" required>
			</td>
			<td>
				<input type="text" name="specification" class="form-control" placeholder="specification" maxlength="500">
			</td>
			<td>
				<input type="text" name="status" class="form-control" placeholder="status" maxlength="20">
			</td>
			<td>
				<input type="text" name="reason" class="form-control" placeholder="reason" maxlength="200">
			</td>
			<td><button type="button" class="btn btn-outline-primary btn-sm" onclick="addmorefunction()">Add</button></td>
		</tr>
	</table>
	<table class="table container table-borderless text-center">
		<tr>
			<td><input type="submit" class="btn btn-outline-success" value="Submit"></td>
		</tr>
	</table>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
	function addmorefunction(){
		number_of_subcats += 1;
		var row = '<tr id="subrow'+number_of_subcats+'"><td><input type="text" name="description" class="form-control" placeholder="description" maxlength="500" required><td><input type="text" name="sl_no" class="form-control" placeholder="Serial Number" maxlength="100" required></td><td>		<input type="text" name="specification" class="form-control" placeholder="specification" maxlength="500" required></td><td><input type="text" name="status" class="form-control" placeholder="status" maxlength="20" required></td><td><input type="text" name="reason" class="form-control" placeholder="reason" maxlength="200" required></td><td><button type="button" class="btn btn-outline-primary btn-sm" onclick="deletefield('+number_of_subcats+')">Delete</button>'
		$('#item-table').append(row);
	}

	function deletefield(x){
		var a = '#subrow'+x;
		$(a).remove();
		// number_of_subcats -= 1;
	}
	todaydate()
	function todaydate(){
		today = new Date()
		var year = today.getFullYear();
		var month = today.getMonth()+1;
		var day = today.getDate();
		var date = year;
		if (month<10) {
			date = date + '-0'+(month);
		}
		else{
			date = date + '-'+(month)
		}
		if (day<10) {
			date = date + '-0'+(day);
		}
		else{
			date = date + '-'+(day)
		}
		document.getElementById('todaydate').value = date;
	}
</script>
{% endblock %}