{% extends 'base.html' %}
{% block title %}Stock Management System{% endblock %}
{% block content %}


<br>
<div class="container text-center">
	<h3>{{ categoryname }}</h3>
	<!-- <div class="p-3 m-3">
		<div class="card border-primary m-4" style="max-width: 100%">
			<a href="" class="text-decoration-none btn-outline-primary p-3">
				<h5 class="card-title">View Stock</h5>
			</a>
		</div>
	</div> -->
	<div style="border: 1px solid black; border-radius: 10px;" class="p-3 m-3">
		{% if user.is_authenticated %}
		<div class="card border-primary m-4" style="max-width: 100%">
			<a href="{% url 'ecourts:issue' %}" class="text-decoration-none btn-outline-primary p-3">
				<h5 class="card-title">Issue</h5>
			</a>
		</div>
		{% endif %}
		<div class="card border-primary m-4" style="max-width: 100%">
			<a href="{% url 'ecourts:viewallissued' %}" class="text-decoration-none btn-outline-primary p-3">
				<h5 class="card-title">View all Issued</h5>
			</a>
		</div>
	</div>
	<div style="border: 1px solid black; border-radius: 10px;" class="p-3 m-3">
		{% if user.is_authenticated %}
		<div class="card border-primary m-4" style="max-width: 100%">
			<a href="{% url 'ecourts:addstock' %}" class="text-decoration-none btn-outline-primary p-3">
				<h5 class="card-title">Add New Stock</h5>
			</a>
		</div>
		{% endif %}
		<div class="card border-primary m-4" style="max-width: 100%">
			<a href="{% url 'ecourts:viewreceived' %}" class="text-decoration-none btn-outline-primary p-3">
				<h5 class="card-title">View Received Stocks</h5>
			</a>
		</div>
	</div>
</div>
{% endblock %}