.sidebar-icon{
  font-size: 1.5rem;
  padding: 5px 10px 5px 0px;
  cursor: pointer; 
  margin-left: 10px; 
  height: 35px;
}
#wrapper {
  overflow-x: hidden;
}
.sidebar-list{
  padding: 0.75rem 1.25rem;
  text-decoration: none !important;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  color: #495057;
}
.sidebar-list:hover{
  background-color: #DCDCDC;
}
.list-group > .active{
  background-color: #C0C0C0;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.list-group-flush > a {
  font-size: 1.1em;
}
