<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}
		{% endblock %}
	</title>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'bootstrap-5.0.2/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-5.0.2/js/bootstrap.bundle.min.js' %}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% load static %}
	<link href="{% static 'accounts/styles.css' %}" rel="stylesheet" />
	<script src="{% static 'jquery-3.6.4.min.js' %}"></script>
	<script src="{% static 'bootstrap-5.0.2/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Home</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{% url 'accounts:index' %}">Accounts</a>
					</li>
					{% endif %}
				</ul>
				{% if user.is_authenticated %}
				<a href="{% url 'loginpage:logoutuser' %}" class="btn btn-outline-danger">Logout</a>
				{% else %}
				<a href="{% url 'loginpage:loginuser' %}" class="btn btn-outline-danger">Login</a>
				{% endif %}
			</div>
		</div>
	</nav>
	<div class="d-flex" id="wrapper">
		<div class="bg-light border-right" id="sidebar-wrapper">
			<a href="/" class="text-decoration-none"><div class="sidebar-heading">Stock Management</div></a>
			<div class="list-group list-group-flush">
				<a href="{% url 'accounts:index' %}" class="sidebar-list {% if request.path == '/accounts/' %}active{% endif %}">Category</a>
				<a href="{% url 'accounts:item' %}" class="sidebar-list {% if request.path == '/accounts/item' %}active{% endif %} or {% if '/accounts/edititem/' in request.path %}active{% endif %}">Item</a>
				<a href="{% url 'accounts:section' %}" class="sidebar-list {% if request.path == '/accounts/section' %}active{% endif %}">Sections</a>
				<a href="{% url 'accounts:email' %}" class="sidebar-list {% if request.path == '/accounts/email' %}active{% endif %}">Emails</a>
				<a href="{% url 'accounts:locations' %}" class="sidebar-list {% if request.path == '/accounts/offices' %}active{% endif %}">Locations</a>
			</div>
		</div>
		<i class="fa fa-bars text-right sidebar-icon" id="menu-toggle" style=""></i>
		<div id="page-content-wrapper">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	
</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	<script>
		$("#menu-toggle").click(function(e) {
	  		e.preventDefault();
	  		$("#wrapper").toggleClass("toggled");
		});
  </script>
</html>
