{% extends 'base.html' %}
{% block title %} {{ category.category_name}} issue {% endblock %}
{% block content %}
<script>number_of_items=1</script>
<br>
<form method="post" enctype="multipart/form-data">
	<table class="table container table-bordered text-center">
		{% csrf_token %}
		<input type="hidden" name="issued_by" value="{{ request.user.pk }}">
		<input type="hidden" name="category" value="{{ category.pk }}">
		<tr>
			<td>Date</td>
			<td><input type="date" name="date_of_issue" class="form-control" id="todaydate" class="form-control"></td>
		</tr>
		<tr>
			<td>Issued to name</td>
			<td><input type="text" name="name" class="form-control" autocomplete="off" required></td>
		</tr>
		<tr>
			<td>Issued to designation</td>
			<td><input type="text" name="designation" class="form-control" autocomplete="off" required></td>
		</tr>
		<tr>
			<td>Section</td>
			<td>
				<select name="section" class="form-control" required>
				{% for section in sections %}
					<option value="{{ section.pk }}">{{ section.section_name }}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Requisition (if any)</td>
			<td><input type="file" name="requisition" class="form-control"></td>
		</tr>
		<tr>
			<td>Remarks</td>
			<td>
				<textarea name="remarks" cols="30" rows="4" class="form-control"></textarea>
			</td>
		</tr>
	</table>
	<table class="table table-bordered container text-center" id="item-table">
		<tr>
			<td>Item</td>
			<td>Quantity available</td>
			<td>Issue nos.</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<select name="item" id="itemid1" class="form-control" required onchange="checkstock(1)">
					<option value="">-- select item --</option>
					{% for item in items %}
					<option value="{{ item.pk }}">{{ item.item_name }}</option>
					{% endfor %}
				</select>
			</td>
			<td style="text-align: left; font-size: 1.2rem; min-width: 30%"><p id="currentbalanceid1"></p></td>
			<td><input type="number" name="issue_nos" class="form-control" placeholder="enter nos"></td>
			<td><button type="button" class="btn btn-outline-primary btn-sm" onclick="addmorefunction()">Add more</button></td>
		</tr>
	</table>
	<table class="table table-borderless container text-center">
		<tr>
			<td colspan="2"><input type="submit" class="btn btn-outline-success" id="submitid"></td>
		</tr>
	</table>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
	todaydate()
	function todaydate(){
		today = new Date()
		var year = today.getFullYear();
		var month = today.getMonth()+1;
		var day = today.getDate();
		var date = year;
		if (month<10) {
			date = date + '-0'+(month);
		}
		else{
			date = date + '-'+(month)
		}
		if (day<10) {
			date = date + '-0'+(day);
		}
		else{
			date = date + '-'+(day)
		}
		document.getElementById('todaydate').value = date;
	}
	function checkstock(itempk){
		itemid = 'itemid'+itempk
		var stockitem = document.getElementById(itemid).value
		$.ajax({
			type:'GET',
			url:'/getstockajax?categoryname='+"{{ category.category_name }}"+'&itempk='+stockitem,
			success:function(response){
				$('#currentbalanceid'+itempk).html(response)
				document.getElementById('submitid').disabled = false;
				if (response == '0'){
					document.getElementById('submitid').disabled = true;
				}
			}
		});
	}
	function addmorefunction(){
		number_of_items += 1;
		var row = '<tr id="subrow'+number_of_items+'"><td><select name="item" id="itemid'+number_of_items+'" class="form-control" required onchange="checkstock('+number_of_items+')"><option value="">-- select item --</option>{% for item in items %}<option value="{{ item.pk }}">{{ item.item_name }}</option>{% endfor %}				</select></td><td style="text-align: left; font-size: 1.2rem; min-width: 30%"><p id="currentbalanceid'+number_of_items+'"></p></td><td><input type="number" name="issue_nos" class="form-control" placeholder="enter nos"></td><td><button type="button" class="btn btn-outline-primary btn-sm" onclick="deletefield('+number_of_items+')">Delete</button'
		$('#item-table').append(row);
	}

	function deletefield(x){
		var a = '#subrow'+x;
		$(a).remove();
	}
</script>
{% endblock %}