<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<title>Issue Report</title>
	<style>
		@media print {
			@page { margin: 0; }
			body { margin: 1cm; }
		}
		@page {
			size: auto;   /* auto is the initial value */
			margin: 0;  /* this affects the margin in the printer settings */
		}
		.insidetd {
			border-collapse: collapse;
			border: 1px solid black;
			/*padding: 5px 10px;*/
		}

			.insidetable {
				border-collapse: collapse;
				border-style: hidden;
			}

			.insidetr {
				border-collapse: collapse;
				border: 1px solid black;
			}
		</style>
</head>
{% load customtag %}
<body style="line-height: 1.2;">
	<p style="font-size: 1.5rem; text-align: center;">{{ categoryname }} Issue Report</p>
	{% if fieldssearchby|length > 0 %}
	<table class="table text-center container table-bordered" style="max-width: 50%;">
		<tr>
			<td colspan="2">Search result for:</td>
		</tr>
		{% for key,value in fieldsandvalues.items %}
		<tr>
			<td>{{ key|keysconvert }}</td>
			<td>{{ value }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	<table class="table table-bordered text-center table-sm" style="border: 1px solid black;">
		<thead class="table-secondary">
		<tr style="border: 1px solid black;">
			<td></td>
			{% if 'name' not in fieldssearchby %}<td>Name</td>{% endif %}
			{% if 'designation' not in fieldssearchby %}<td>Designation</td>{% endif %}
			{% if 'subcategory' not in fieldssearchby %}<td>Issued Item(s)</td>{% endif %}
			{% if 'section' not in fieldssearchby %}<td>Section</td>{% endif %}
			{% if 'date_of_issue' not in fieldssearchby %}<td>Date of issue</td>{% endif %}
			<!-- {% if 'issued_by' not in fieldssearchby %}<td>Issued by</td>{% endif %} -->
		</tr>
		</thead>
	{% for issue in issued %}
		<tr>
			<td>{{ forloop.counter }}</td>
			{% if 'name' not in fieldssearchby %}<td>{{ issue.name|title }}</td>{% endif %}
			{% if 'designation' not in fieldssearchby %}<td>{{ issue.designation }}</td>{% endif %}
			<td style="padding: 1px;">
				<table class="insidetable table" style="margin-bottom: 0px;">{{ issue.item|stringtosubcatconvert:"Issued"|safe }}</table>
			</td>
			{% if 'section' not in fieldssearchby %}<td>{{ issue.section }}</td>{% endif %}
			{% if 'date_of_issue' not in fieldssearchby %}<td>{{ issue.date_of_issue }}</td>{% endif %}
			<!-- {% if 'issued_by' not in fieldssearchby %}<td>{{ issue.issued_by }}</td>{% endif %} -->
		</tr>
	{% endfor %}
	</table>
</body>
</html>