{% extends 'base.html' %}
{% block title %} View detailed issued {% endblock %}
{% block content %}
<br>
{% load customtag %}
<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/category/{{ category }}">{{ category }}</a></li>
			<li class="breadcrumb-item"><a href="/view-issued/{{ category }}"> Issued</a></li>
			<li class="breadcrumb-item active" aria-current="page">Data</li>
		</ol>
	</nav>
<table class="table table-bordered container text-center">
	<tr>
		<td>Category</td>
		<td>{{ issue.category }}</td>
	</tr>
	<tr>
		<td>Issue no.</td>
		<td>{{ issue.pk }}</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>{{ issue.name }}</td>
	</tr>
	<tr>
		<td>Designation</td>
		<td>{{ issue.designation }}</td>
	</tr>
	<tr>
		<td>Section</td>
		<td>{{ issue.section }}</td>
	</tr>
	<tr>
		<td>Issue</td>
		<td>{{ issue.date_of_issue }}</td>
	</tr>
	<tr>
		<td>Remarks</td>
		<td>{{ issue.remarks }} </td>
	</tr>
	<tr>
		<td>Issued by</td>
		<td>{{ issue.issued_by }}</td>
	</tr>
	<tr>
		<td>Requisition</td>
		<td>
			{% if issue.requisition and issue.requisition|file_exists  %}
			<a href="{{ issue.requisition.url }}" target="_blank">{{ issue.requisition|filename }}</a>
			{% endif %}
		</td>
	</tr>
</table>
<table class="table table-bordered container text-center">
	{{ issue.item|stringtosubcatconvert|safe }}
</table>
{% endblock %}