{% extends 'base.html' %}
{% block title %} All {{ category.category_name }} Issued {% endblock %}
{% block content %}
<br>
{% load customtag %}
<style>
	@media only screen and (max-width: 900px) {
		#contentdesktop{
			display: none;
		}
	}
</style>
<table class="table container text-center table-bordered">
	<tr>
		<th colspan="10">
			<button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Search Issued</button>
			<a href="{% url 'dashboard:viewissued' category.category_name %}" class="btn btn-link">Reset Search</a>
			<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#Usagemodal">View Usage</button>
		</td>
	</tr>
	<tr>
		<td id="contentdesktop"></td>
		<td>Name</td>
		<td>Item(s)</td>
		<td id="contentdesktop">Section</td>
		<td>Date of Issue</td>
		<td></td>
	</tr>
	{% for issue in issued %}
		<tr>
			<td id="contentdesktop">{{ forloop.counter0|add:issued.start_index }}</td>
			<td>
				<a href="{% url 'dashboard:viewdetailissued' issue.pk %}">
				{{ issue.name }}
			</td>
			<td>{{ issue.item|showitemname }}</td>
			<td id="contentdesktop">{{ issue.section }}</td>
			<td>{{ issue.date_of_issue }}</td>
			<td>
				<button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#Deletemodal" onclick="deletemodal('{{ issue.pk }}')">Delete</button>
			</td>
		</tr>
	{% endfor %}
</table>
{% include 'pagination.html' %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Search Using</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="text-center">
					<input type="text" name="name" placeholder="name" class="form-control mb-2" value="{{ request.GET.name|default:'' }}">
					<input type="text" name="designation" placeholder="designation" class="form-control mb-2" value="{{ request.GET.designation|default:'' }}" autocomplete="off">
					<select name="item" class="form-control mb-2">
						<option value="">-- select items --</option>
						{% for item in items %}
							<option value="{{ item.item_name|title }}" {% if item.item_name|title == request.GET.item|title %}selected{% endif %}>{{ item.item_name|title }}</option>
						{% endfor %}
					</select>
					<select name="section" class="form-control mb-2">
						<option value="">-- select section --</option>
						{% for section in sections %}
							<option value="{{ section.section_name|title }}" {% if section.section_name|title == request.GET.section|title %}selected{% endif %}>{{ section.section_name|title }}</option>
						{% endfor %}
					</select>
					<select name="issued_by" class="form-control mb-2">
						<option value="">-- select issued by --</option>
						{% for user in users %}
							<option value="{{ user.username }}" {% if user.username|title == request.GET.issued_by|title %}selected{% endif %}>{{ user.username|title }}</option>
						{% endfor %}
					</select>
					<table class="table table-borderless">
						<tr>
							<td>From</td>
							<td><input type="date" class="form-control mb-2" name="start_date" value="{{ request.GET.start_date }}"></td>
						</tr>
						<tr>
							<td>To</td>
							<td><input type="date" class="form-control mb-2" name="end_date" value="{{ request.GET.end_date }}"></td>
						</tr>
					</table>
					<input type="hidden" id="showreporthidden" name="showreport">
					<input onclick="removeview()" type="submit" class="btn btn-outline-success btn-sm">
					<button onclick="addview()" class="btn btn-outline-warning btn-sm" formtarget="_blank">View Report</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="Usagemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">View Usage</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center"><br>
				<a href="{% url 'dashboard:usage' category.category_name 'section' %}" class="btn btn-outline-primary">View Section Wise Usage</a>
				<br><br>
				<a href="{% url 'dashboard:usage' category.category_name 'item' %}" class="btn btn-outline-success">View Item Wise Usage</a>
				<br><br>
				<a href="{% url 'dashboard:usage' category.category_name 'itemandsection' %}" class="btn btn-outline-success">View Item & Section Wise Usage</a>
				<br><br>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="Deletemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Are you sure</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center"><br>
				<a href="#" id="anchordelete">Yes</a>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	function addview(){
		$('#showreporthidden').val('true');
	}
	function removeview(){		
		$('#showreporthidden').val('');
	}
	function deletemodal(val){
		$('#anchordelete').attr('href','/deleteissue/'+val)
	}
</script>
{% endblock %}