{% extends 'base.html' %}
{% block title %}Stock Management System{% endblock %}
{% block content %}


<br>
<div class="container">
<div class="row">
	{% for category in categories %}
	<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 text-center">
		<a href="{% url 'dashboard:categoryview' category.category_name %}" class="text-decoration-none">
		<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
			<div class="card-header"><h4>{{ category.category_name }}</h4></div>
			<div class="card-body">
				<h5 class="card-title">Issue/Add new Stock</h5>
			</div>
		</div>
		</a>
	</div>
	{% endfor %}
</div>
</div>
{% endblock %}