{% extends 'base.html' %}
{% block title %} {{ categoryname}} stock {% endblock %}
{% block content %}
<br>
<table class="table container text-center table-bordered" style="border:0.5px solid black;">
	<tr>
		<td colspan="3"><p style="font-size: 2rem">{{ categoryname }} Stock Information</p></td>
	</tr>
	<tr>
		<th>Name</th>
		<th>Available</th>
		{% if user.is_authenticated %}
		<th></th>
		{% endif %}
	</tr>
{% for item in items %}
	<tr>
		<td>{{ item.item_name }}</td>
		<td>{{ item.item_count }}</td>
		{% if user.is_authenticated %}
		<td>
			<a href="{% url 'dashboard:issue' categoryname %}" class="btn btn-outline-success btn-sm">Issue</a>
			<a href="{% url 'dashboard:addstock' categoryname %}" class="btn btn-outline-primary btn-sm">Add stock</a>
		</td>
		{% endif %}
	</tr>
{% endfor %}
</table>
{% endblock %}