{% extends 'base.html' %}
{% block title %} {{ categoryname }} {% endblock %}
{% block content %}
<br><br>
{% if messages %}
{% for message in messages %}
	<div class="alert alert-{{message.tags}} alert-dismissible fade show text-center container" role="alert">
		{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
{% endif %}
<div class="container text-center">
	<h3>{{ categoryname }}</h3>
	<div class="p-3 m-3">
		<div class="card border-primary m-4" style="max-width: 100%">
			<a href="{% url 'dashboard:viewstock' categoryname %}" class="text-decoration-none btn-outline-primary p-3">
				<h5 class="card-title">View Stock</h5>
			</a>
		</div>
	</div>
	<div style="border: 1px solid black; border-radius: 10px;" class="p-3 m-3">
		{% if user.is_authenticated %}
		<div class="card border-primary m-4" style="max-width: 100%">
			<a href="{% url 'dashboard:issue' categoryname %}" class="text-decoration-none btn-outline-primary p-3">
				<h5 class="card-title">Issue</h5>
			</a>
		</div>
		{% endif %}
		<div class="card border-primary m-4" style="max-width: 100%">
			<a href="{% url 'dashboard:viewissued' categoryname %}" class="text-decoration-none btn-outline-primary p-3">
				<h5 class="card-title">View all Issued</h5>
			</a>
		</div>
	</div>
	<div style="border: 1px solid black; border-radius: 10px;" class="p-3 m-3">
		{% if user.is_authenticated %}
		<div class="card border-primary m-4" style="max-width: 100%">
			<a href="{% url 'dashboard:addstock' categoryname %}" class="text-decoration-none btn-outline-primary p-3">
				<h5 class="card-title">Add New Stock</h5>
			</a>
		</div>
		{% endif %}
		<div class="card border-primary m-4" style="max-width: 100%">
			<a href="{% url 'dashboard:viewpurchased' categoryname %}" class="text-decoration-none btn-outline-primary p-3">
				<h5 class="card-title">View Purchased Stocks</h5>
			</a>
		</div>
	</div>
</div>

{% endblock %}