{% extends 'base.html' %}
{% block title %} Add stock to {{ category.category_name }} {% endblock %}
{% block content %}
<br><br>
<script>number_of_subcats=1</script>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}	
	<input type="hidden" name="entered_by" value="{{ request.user.pk }}">
	<table class="table container table-bordered text-center">
		<tr>
			<td>Received from</td>
			<td><input type="text" name="received_from" class="form-control" autocomplete="off" value="{{ bulk.received_from }}" required></td>
		</tr>
		<!-- <tr>
			<td>Document</td>
			<td><input type="file" name="document" class="form-control" required></td>
		</tr>
		<tr>
			<td>Additional Document</td>
			<td><input type="file" name="add_document" class="form-control"></td>
		</tr>
		<tr>
			<td>Received Date</td>
			<td><input type="date" name="received_date" class="form-control" id="todaydate" required></td>
		</tr> -->
		<tr>
			<td>Remarks</td>
			<td><textarea name="remarks" cols="30" rows="5" class="form-control" required>{{ bulk.remarks }}</textarea></td>
		</tr>
	</table>
	<hr class="container">
	<table class="table container table-bordered text-center" id="item-table">
		{% for item in items %}
		<tr id="subrowdbrow{{ item.pk }}">
			<td>
				<input type="text" name="description" class="form-control" placeholder="description" maxlength="500" value="{{ item.description }}" required>
			</td>
			<td>
				<input type="text" name="sl_no" class="form-control" placeholder="Serial Number" maxlength="100" value="{{ item.sl_no }}" required>
			</td>
			<td>
				<input type="text" name="specification" class="form-control" placeholder="specification" maxlength="500" value="{{ item.specification }}">
			</td>
			<td>
				<input type="text" name="status" class="form-control" placeholder="status" maxlength="20" value="{{ item.status }}">
			</td>
			<td>
				<input type="text" name="reason" class="form-control" placeholder="reason" maxlength="200" value="{{ item.reason }}">
			</td>
			<td>
				{% if forloop.counter == 1 %}
				<button type="button" class="btn btn-outline-primary btn-sm" onclick="addmorefunction()">Add</button>
				{% else %}
				<button type="button" class="btn btn-outline-primary btn-sm" onclick="deletefield('dbrow{{ item.pk }}')">Delete</button>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	<table class="table container table-borderless text-center">
		<tr>
			<td><input type="submit" class="btn btn-outline-success" value="Submit"></td>
		</tr>
	</table>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
	function addmorefunction(){
		number_of_subcats += 1;
		var row = '<tr id="subrow'+number_of_subcats+'"><td><input type="text" name="description" class="form-control" placeholder="description" maxlength="500" required><td><input type="text" name="sl_no" class="form-control" placeholder="Serial Number" maxlength="100" required></td><td>		<input type="text" name="specification" class="form-control" placeholder="specification" maxlength="500" required></td><td><input type="text" name="status" class="form-control" placeholder="status" maxlength="20" required></td><td><input type="text" name="reason" class="form-control" placeholder="reason" maxlength="200" required></td><td><button type="button" class="btn btn-outline-primary btn-sm" onclick="deletefield('+number_of_subcats+')">Delete</button>'
		$('#item-table').append(row);
	}

	function deletefield(x){
		var a = '#subrow'+x;
		$(a).remove();
	}
	// todaydate()
	// function todaydate(){
	// 	today = new Date()
	// 	var year = today.getFullYear();
	// 	var month = today.getMonth()+1;
	// 	var day = today.getDate();
	// 	var date = year;
	// 	if (month<10) {
	// 		date = date + '-0'+(month);
	// 	}
	// 	else{
	// 		date = date + '-'+(month)
	// 	}
	// 	if (day<10) {
	// 		date = date + '-0'+(day);
	// 	}
	// 	else{
	// 		date = date + '-'+(day)
	// 	}
	// 	document.getElementById('todaydate').value = date;
	// }
</script>
{% endblock %}