{% extends 'base.html' %}
{% block title %}Stock Management System{% endblock %}
{% block content %}
{% load customtagecourt %}

<br>
<div class="container text-center">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>Received from</td>
				<td>{{ bulk.received_from }}</td>
			</tr>
			<tr>
				<td>Ref no.</td>
				<td>{{ bulk.ref_no }}</td>
			</tr>
			<tr>
				<td>Location</td>
				<td>{{ bulk.location }}</td>
			</tr>
			<tr>
				<td>Document</td>
				<td><a href="{{ bulk.document.url }}">{{ bulk.document|filename }}</a></td>
			</tr>
			<tr>
				<td>Additional document</td>
				<td>
					{% if bulk.add_document and bulk.add_document|file_exists  %}
					<a href="{{ bulk.add_document.url }}">{{ bulk.add_document|filename }}</a>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Received date</td>
				<td>{{ bulk.received_date }}</td>
			</tr>
			<tr>
				<td>Remarks</td>
				<td>{{ bulk.remarks }}</td>
			</tr>
			<tr>
				<td>Entered by</td>
				<td>{{ bulk.entered_by }}</td>
			</tr>
			<tr>
				<td colspan="2"><a href="{% url 'ecourts:editbulk' bulk.pk %}" class="btn btn-outline-primary btn-sm">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Description</td>
				<td>Serial no.</td>
				<td>Specification</td>
				<td>Status</td>
				<td>Reason</td>
				<td>Issued</td>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item.description }}</td>
					<td>{{ item.sl_no }}</td>
					<td>{{ item.specification }}</td>
					<td>{{ item.status }}</td>
					<td>{{ item.reason }}</td>
					<td>{{ item.issued }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}