{% extends 'base.html' %}
{% block title %}Stock Management System{% endblock %}
{% block content %}


<br>
<div class="container text-center">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Ref no.</th>
				<th>Received from</th>
				<th>Received date</th>
				<th>Remarks</th>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{% for bulk in bulks %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ bulk.ref_no }}</td>
					<td>{{ bulk.received_from }}</td>
					<td>{{ bulk.received_date }}</td>
					<td>{{ bulk.remarks }}</td>
					<td><a href="{% url 'ecourts:receiveddetail' bulk.pk %}" class="btn btn-outline-primary btn-sm">View detail</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}