<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
			var data = google.visualization.arrayToDataTable([
				['Sections','Usages'],
				{% for key,value in usages.items %}
				['{{key}}',{{ value }}],
				{% endfor %}
				]);
			var options = {
				title: 'Usage Report',
				fontSize:20,
				titleTextStyle:{
					fontSize:20,
					bold:false,
				}
			};
			// data.replace('&amp', "&");
			var chart = new google.visualization.PieChart(document.getElementById('piechart'));
			chart.draw(data, options);
		}
	</script>
	<title>usage | {{categoryname}} | {{usagetype}}</title>
</head>
<body>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/category/{{ categoryname }}">{{ categoryname }}</a></li>
			<li class="breadcrumb-item"><a href="/view-issued/{{ categoryname }}"> Issued</a></li>
			<li class="breadcrumb-item active" aria-current="page">Data</li>
		</ol>
	</nav>
	<form action="{% url 'dashboard:usage' categoryname usagetype %}">
		<table class="table table-bordered text-center container">
			<tr>
				<td>From</td>
				<td>To</td>
			</tr>
			<tr>
				<td><input type="date" class="form-control" name="from" class="form-control" value="{{ request.GET.from }}" required></td>
				<td><input type="date" class="form-control" name="to" class="form-control" value="{{ request.GET.to }}" required></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" class="btn btn-outline-success"></td>
			</tr>
		</table>
	</form>
	<div class="container" style="margin-top: 100px">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" style="width: 50%;">Chart</button>
				<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" style="width: 50%;">Data Table</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
				<div id="piechart" style="width: 100%; height: 500px;"></div>
			</div>
			<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
				<br>
				<table class="table table-bordered text-center">
					<tr>
						<td>Item</td>
						<td>Usage</td>
					</tr>
					{% for key,value in usages.items %}
					<tr>
						<td>{{ key }}</td>
						<td>{{ value }}</td>
					</tr>
					{% endfor %}
					<tr>
						<td>Total</td>
						<td>{{ total }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
<script>
	document.body.innerHTML = document.body.innerHTML.split("& ").join("&amp; ");
</script>
</html>
