<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		{% for itemkey, itemvalue in itemsandusage.items %}
			google.charts.setOnLoadCallback(drawChart{{ forloop.counter }});
			function drawChart{{ forloop.counter }}() {
				var data = google.visualization.arrayToDataTable([
					['Sections','Usages'],
					{% for key, value in itemvalue.items %}
					['{{key}}',{{ value }}],
					{% endfor %}
					]);
				var options = {
					title: '{{ itemkey }}',
					fontSize:20,
					titleTextStyle:{
						fontSize:20,
						bold:false,
					}
				};
			var chart = new google.visualization.PieChart(document.getElementById('piechart{{ forloop.counter }}'));
			chart.draw(data, options);
		}
		{% endfor %}
	</script>
	<title>usage | {{categoryname}} | {{usagetype}}</title>
</head>
<body>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/category/{{ categoryname }}">{{ categoryname }}</a></li>
			<li class="breadcrumb-item"><a href="/view-issued/{{ categoryname }}"> Issued</a></li>
			<li class="breadcrumb-item active" aria-current="page">Data</li>
		</ol>
	</nav>
	<form>
		<table class="table table-bordered text-center container">
			<tr>
				<td>From</td>
				<td>To</td>
			</tr>
			<tr>
				<td><input type="date" class="form-control" name="from" class="form-control" value="{{ request.GET.from }}" required></td>
				<td><input type="date" class="form-control" name="to" class="form-control" value="{{ request.GET.to }}" required></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" class="btn btn-outline-success">
					<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						View report
					</button>
				</td>
			</tr>
		</table>
	</form>
	<div class="container" style="margin-top: 100px">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" style="width: 50%;">Chart</button>
				<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" style="width: 50%;">Data Table</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
				{% for itemkey, itemvalue in itemsandusage.items %}
					<div id="piechart{{ forloop.counter }}" style="width: 100%; height: 500px;"></div>
				{% endfor %}
			</div>
			<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
				<br>
				<table class="table table-bordered container text-center">
					{% for itemkey, itemvalue in itemsandusage.items %}
					<tr>
						<td>{{ itemkey }}</td>
						<td>
							<table class="table table-bordered container text-center">
							{% for key, value in itemvalue.items %}
								{% if value != 0 %}
								<tr>
									<td>{{ key }}</td>
									<td>{{ value }}</td>
								</tr>
								{% endif %}
							{% endfor %}
							</table>
						</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
</body>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Generate report</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				<form action="{% url 'dashboard:usagereport' categoryname %}" target="_blank">
					<table class="table">
						<tr>
							<td>from</td>
							<td><input type="date" name="from" class="form-control" required></td>
						</tr>
						<tr>
							<td>to</td>
							<td><input type="date" name="to" class="form-control" required></td>
						</tr>
					</table>
					<select name="item" class="form-control" multiple>
						{% for item in items %}
						<option value="{{ item.pk }}">{{ item.item_name }}</option>
						{% endfor %}
					</select>
					<input type="submit" value="submit" class="btn btn-outline-primary" style="margin-top:10px;">
				</form>
			</div>
		</div>
	</div>
</div>
</html>
