<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<title>usage | {{categoryname}}</title>
	<style>
		@media print {
			@page { margin: 0; }
			body { margin: 1.6cm; }
		}
		table,th,td,tr{
			border: 1px solid black;
			border-color: light-grey;
		}
	</style>
</head>
<body>
	<br>
	<table class="table table-bordered container text-center">
		<tr>
			<td colspan="3">
				<h3>{{ categoryname }} issue report {{ duration }}</h3>
			</td>
		</tr>
		{% for itemkey, itemvalue in itemsandusage.items %}
		<tr>
			<td>{{ itemkey }}</td>
			<td>
				<table class="table table-bordered container text-center" style="margin: 0px;">
					{% for key, value in itemvalue.items %}
					{% if value != 0 %}
					<tr>
						<td>{{ key }}</td>
						<td>{{ value }}</td>
					</tr>
					{% endif %}
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>
