<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title%}{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'bootstrap-5.0.2/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap-5.0.2/js/bootstrap.bundle.min.js' %}"></script>
</head>
{% load customtag %}
<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Home</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			Office :&nbsp
			<form action="{% url 'dashboard:changeassignedlocation' %}" class="form-inline">
				<input type="hidden" name="currentpage" value="{{ request.path }}">
			  {{ request.user.location|putlocationoption|safe }}
			</form>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{% url 'accounts:index' %}">Accounts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{% url 'ecourts:index' %}">Ecourt project</a>
					</li>
					{% endif %}
				</ul>
				welcome {{ request.user }} &nbsp
				{% if user.is_authenticated %}
				<a href="{% url 'loginpage:logoutuser' %}?next={{ request.path }}" class="btn btn-outline-danger">Logout</a>
				{% else %}
				<a href="{% url 'loginpage:loginuser' %}?next={{ request.path }}" class="btn btn-outline-danger">Login</a>
				{% endif %}
			</div>
		</div>
	</nav>

	{% block content %}
	{% endblock %}
</body>
</html>