{% load customtag %}
<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		{% if paginationdata.has_previous %}
		<li class="page-item"><a class="page-link" href="?{% url_replace request 'page' paginationdata.previous_page_number %}">Previous</a></li>
		{% else %}
		<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
		{% endif %}
		{% if paginationdata.number|add:'-4' > 1 %}
		<li class="text-dark page-item">
			<a href="?page=1" class="page-link">1</a>
		</li>
		<li>
			<a href="?{% url_replace request 'page' paginationdata.number|add:'-5' %}" class="page-link">&hellip;</a>
		</li>
		{% endif %}
		{% for i in paginationdata.paginator.page_range %}
		{% if paginationdata.number == i %}
		<li class="page-item active">
			<a href="?{% url_replace request 'page' i %}" class="page-link">{{i}}</a>
		</li>
		{% elif i > paginationdata.number|add:'-5' and i < paginationdata.number|add:'5' %}
		<li class="page-item {% if i == paginationdata.number %} active {% endif %}">
			<a href="?{% url_replace request 'page' i %}" class="page-link">{{i}}</a>
		</li>
		{% endif %}
		{% endfor %}
		{% if paginationdata.paginator.num_pages > paginationdata.number|add:'4' %}
		<li class="page-item">
			<a href="?{% url_replace request 'page' paginationdata.number|add:'5' %}" class="page-link">&hellip;</a>
		</li>
		{% if book.number != paginationdata.paginator.num_pages %}
		<li class="text-dark page-item">
			<a href="?{% url_replace request 'page' paginationdata.paginator.num_pages %}" class="page-link">{{ paginationdata.paginator.num_pages }}</a>
		</li>
		{% endif %}
		{% endif %}
		{% if paginationdata.has_next %}
		<li class="page-item"><a class="page-link" href="?{% url_replace request 'page' paginationdata.next_page_number %}">Next</a></li>
		{% else %}
		<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
		{% endif %}
	</ul>
</nav>
